/* MY LOGO */
.logo-image {
    height: 40px; 
    width: auto; 
    max-width: 100%;
    margin: 0;
    padding: 0;
    /* display: block;  */
}

/* --- Adjusting logo size w.r.t mobile Screen Sizes (Responsiveness) --- */
@media screen and (max-width: 768px) {
    .logo-image {
        height: 30px; 
    }
}

/* 1. styles the entire page */
body {
    margin: 0px;
    background-color: #778da9;
    color: #f5f5f2;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

/* 2. Full-width header */
header {
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
    /* background-color: #5c7490; */
}

/* 3. Contained and centered navigation (The content inside the header) */
.nav-container {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 1rem 1rem; /* Padding for top/bottom, and 1rem side padding for mobile */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 4. Basic link styling for the nav */
nav a {
    color: white;
    text-decoration: none;
    margin-left: 1.5rem;
    font-size: 1.1rem;
}

/* 5. Side padding on desktop/ipad screens */
@media screen and (min-width: 768px) {
    .nav-container {
        padding: 0.8rem 1.5rem;
    }
}


#main-container {
    margin: 15px 50px;
}

/* 6. Backlight effect for sections*/
.section-box-shadow {
    border-radius: 12px;
}

.section-box-shadow:hover {
    box-shadow: 0px 0px 10px #f5f5f2;
}

/* 7. styling for all links */
a {
    color: #f5f5f2;
    text-decoration: none;
}

/* 8. RESUME button styling */
#resume-button {
    color: #f5f5f2;
    background: #5c7490;
    border: 3px solid #f5f5f2;
    font-weight: 700;
    padding: 7px 12px;
    box-shadow: 0px 0px 15px #f5f5f2;
}

#resume-button:hover {
    color: #5c7490;
    background-color: #f5f5f2;
    border: 3px solid #5c7490;
}

/* 9. TITLE Section - NAME & SKILLS */
#title-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name-and-buttons h1 {
    margin: 0px;
    font-size: 45px;
}

.name-and-buttons h2 {
    margin: 10px 0px;
    color: #f5f5f2;
}

.name-and-buttons p {
    margin: 0px;
    color: #acb7c3;
    font-weight: bolder;
}

/* 10. CONNECT ME BUTTONS */
.connect-me-button {
    margin-top: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.connect-me-button button {
    margin-right: 10px;
    border: 3px solid #5c7490;
    border-radius: 10px;
}

.connect-me-button button:hover {
    /* border: 3px solid #f5f5f2; */
    box-shadow: 0px 0px 20px #f5f5f2;
}

.connect-me-button img {
    width: 20px;
    padding: 4px;
}


/* 11. INTRO section */
#intro-section {
    margin: 20px 0px;
    width: 600px;
    padding: 20px 25px 0px 25px;
    text-align: justify;
}

#intro-section:hover {
    box-shadow: 0px 0px 10px #f5f5f2;
}

#intro-section p {
    margin: 20px;
}

/* 12. ALL PROJECTS */
#project-section {
    margin-top: 0px;
    padding: 20px 14px;
    display: flex;
    justify-content: space-between;
}

.individual-projects {
    margin: 0px 10px;
    padding: 5px 10px;
}

.individual-projects img {
    margin: 0px;
    border: 3px solid #5c7490;
    border-radius: 12px;
    width: 200px;
}

.individual-projects img:hover {
    border: 3px solid #f5f5f2;
    box-shadow: 0px 0px 5px #f5f5f2;
}

.individual-projects h4 {
    margin: 10px 2px;
    font-size: large;
}

.individual-projects p {
    margin: 5px 0px;
    color: #f5f5f2;
    font-size: medium;
}


/* --- FOOTER Styling --- */
footer {
    width: 100%;
    border-top: 2px solid #f5f5f2;
    margin: 0;
    padding: 0.2rem 0;
    text-align: center;
    bottom: 0;
}

/* --- Container and Text Styling --- */
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

footer p {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    line-height: 1.5;
}

/* --- Styling Back to Top link--- */
footer a {
    transition: color 0.5s ease;
}

footer a:hover {
    color: #5c7490;
    text-decoration: underline;
}