body {
    margin: 0;
    color: #f5f5f2;
    background-color: #778da9;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* --- LOGO --- */
.logo-image {
    height: 40px;
    width: auto;
    max-width: 100%;
    margin: 0;
    padding: 0;
}


/* --- HEADER --- */
header {
    padding: 1rem 2rem;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 1.5rem;
    font-weight: 600;
}


/* --- MAIN CONTAINER --- */
#main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0rem 2rem;
    flex-grow: 1;
}

#title-section {
    max-width: 1200px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

#name-and-buttons {
    margin: 0;
    padding: 0;
}

#name-and-buttons h1 {
    margin: 0;
    padding: 0;
}

#name-and-buttons h2 {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0.5rem 0;
    padding: 0;
    color: #ccd5de;
}

#name-and-buttons p {
    margin: 0.1rem 0;
    color: #ccd5de;
}


/* --- BUTTONS --- */
.connect-me-button {
    margin-top: 2rem;
    padding: 0;
    display: flex;
    justify-content: start;
    align-items: center;
}

.connect-me-button button {
    cursor: pointer;
    margin-right: 0.7rem;
    background-color: #f5f5f2;
    border: 2px solid #5c7490;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.connect-me-button button:hover {
    box-shadow: 0px 0px 10px #f5f5f2;
}

.connect-me-button img {
    width: 24px;
    margin: 0.2rem;
    border-radius: 50%;
    background-color: #f5f5f2;
}

#resume-button {
    width: max-content;
    color: #f5f5f2;
    background-color: #5c7490;
    border: 2px solid #f5f5f2;
    font-weight: 700;
    padding: 0.4rem 0.8rem;
}

#resume-button:hover {
    color: #5c7490;
    background-color: #f5f5f2;
    border: 2px solid #5c7490;
}

a {
    text-decoration: none;
}


/* --- HELLO INTRO --- */
#intro-section {
    margin-left: 2rem;
    margin-bottom: 1.5rem;
    width: 600px; 
    padding: 1.2rem 1.5rem 0 1.5rem;
    text-align: justify;
}

#intro-section:hover {
    box-shadow: 0px 0px 10px #f5f5f2;
}


/* --- PROJECTS --- */
#project-section {
    margin: 0 auto;
    padding: 0;
    display: block;
}

#project-heading {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    align-items: start;
}

#all-projects {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.individual-projects {
    margin: 1rem 0;
    padding: 1.2rem 1rem;
    border: 2px solid #778da9;
    border-radius: 10px;
}

.individual-projects:hover {
    border: 2px solid #f5f5f2;
    box-shadow: 0px 0px 20px #f5f5f2;
}

.individual-projects img {
    border: 3px solid #5c7490;
    border-radius: 12px;
    max-width: 195px;
    max-height: 105px;
    width: 100%;
    height: 100%;
}

.individual-projects h4 {
    margin: 0.2rem 0;
}

.individual-projects p {
    margin: 0;
    color: #ccd5de;
    font-size: 1rem;
}


/* --- FOOTER --- */
footer {
    bottom: 0;
    padding: 0rem 2rem;
    text-align: center;
    flex-shrink: 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

footer p {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    line-height: 1.5;
}

footer a {
    color: #ccd5de; 
    transition: color 0.5s ease;
    font-weight: 700;
    text-decoration: underline wavy;
}

footer a:hover {
    color: #f5f5f2;
    font-size: 1rem;
}


/* --- SECTION BACK-LIGHT EFFECT --- */
.section-box-shadow {
    border-radius: 10px;
}

.section-box-shadow:hover {
    box-shadow: 0px 0px 15px #f5f5f2;
}